/* Import */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&display=swap');
/* Genaral Global Setting */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary:#ff0066;
}

body{
    position: relative;
    background: #ffffff;
    font-family:'Roboto',sans-serif;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
/*-----------------------------------------------------
# Header
-------------------------------------------------------*/
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 100px;
    background: transparent;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: 1s;
    z-index: 1300;
}

header.active{
    background: #ffffff;
    box-shadow: 0 0 5px rgba(0,0,0, 0.15);

}

.logo{
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    color: #000000;
    letter-spacing: 2px;
    font-weight: 400;
    text-decoration: none;
}

.menu{
    color: #000000;
    font-size: 2em;
    transition: 0.5s;
}

/* Menu on Mobile */

.menu .open{
    display: block;
}

.menu .close{
    display: none;
}

.menu.active .open{
    display: none;
}

.menu.active .close{
    display: block;
}

.menu.active .close{
    display: block;
}

.nav{
    display: flex;
}

.nav li{
    list-style: none;
    margin: 0 20px;
}

.nav li a{
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 350;
    padding: 10px;
}

.nav li a:hover,
.nav li a.active{
    color: var(--primary);
}

.search{
    position: relative;
    width: 300px;
    height: 40px;
    transition: 0.5s;
}

.search input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #000000;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    padding: 0 10px 0 15px;
}

.search input ::placeholder{
    color: #000000;
    text-transform: uppercase;
    font-weight: 350;
}

.search ion-icon{
    font-size: 1.4em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    padding-left: 10px;
    color: #000000;
    cursor: pointer;
    border-left: 1px solid #000000;
}
/*-----------------------------------------------------
# Mobile Navigation 
-------------------------------------------------------*/

/*-------------------------------------------------------
# Banner
--------------------------------------------------------*/
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s; 
}

.banner::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
}

.bg-slide{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bg-slide .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0) translate(-50%, -50%);
    width: 60vw;
    z-index: 1100;
    transition: ease-in-out 3s;
    opacity: 0;
    visibility: hidden;
}

.bg-slide .content h1{
    font-size: 5em;
    text-transform: uppercase;
}

.bg-slide .content p{
    font-family: "Dancing Script", cursive;
    font-weight: 200;
    font-size: 1.5em;
    letter-spacing: 1px;
}

.bg-slide.active .content{
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
    visibility: visible;

}

.circle {
   border-radius: 50%;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   transform: translate(0, 0)rotateZ(0);
   opacity: 0;
   visibility: hidden;
   transition: 3s;
}
.circle.bg{
    background: transparent;
    width: 140vw;
    height: 140vw;
    border-radius: 0;
}

.circle.large{
    width: 70vw;
    height: 70vw;
}

.circle.small{
    width: 35vw;
    height: 35vw;
}

.circle img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.circle.bg img {
    border-radius: 0;
}

.circle.large img{
    transform: scale(2);
}

.circle.small img{
    transform: scale(4);
}

.bg-slide.active .circle.bg,
.bg-slide.active .circle.large,
.bg-slide.active .circle.small {
    animation-name: spin;
    animation-duration: 3s; /* Adjust duration as needed */
    animation-timing-function: ease-out; /* Adjust timing function as needed */
    opacity: 1;
    visibility: visible;
}

@keyframes spin {
    0% {
        transform: translate(0, 0) rotateZ(0deg);
    }
    100% {
        transform: translate(0, 0) rotateZ(360deg);
    }
}

.slide-loader{
    position: absolute;
    z-index: 1100;
    bottom: 50px;
    right: 100px;
    display: flex;
    gap: 20px;
    margin-bottom: 0;
}

.slide-loader li{
    list-style: none;
    display: flex;
    align-items: end;
}

.slide-loader li a{
    text-decoration: none;
    color: #111111;
    font-size: 2em;
    font-weight: 800;
    transition: 0.5s;
    line-height: 1em;
    cursor: pointer;
    padding: 0;
}

.slide-loader li a.active,
.slide-loader li a:hover{
    font-size: 4em;
}

.slide-loader::before {
    position: absolute;
    content: '';
    top: 50%;
    left: -70%;
    width: 100px;
    height: 2px;
    background: #111111;
}

.share{
    position: absolute;
    bottom: 50px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1200;
}

.share::before{
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    top: -120%;
    height: 100px;
    width: 2px;
    background: #111111;
}

.share p{
    writing-mode: vertical-rl;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    color: #111111;
}

.share a{
    text-decoration: none;
    color: #111111;
}

.share a ion-icon{
    font-size: 1.8em;
}

.lead{
   position: absolute;
   bottom: 0;
   z-index: 1000;
   width: 300px;
   height: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.move-down {
    position: absolute;
    z-index: 1100;
    color: #111111;
    animation: flink 1s linear infinite;
}

.move-down ion-icon {
    font-size: 3.5em;
}

@keyframes flink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.lead svg{
    font-family:"Dancing Script", cursive;
    position: absolute;
    z-index: 1100;
    fill: currentColor;
    height: auto;
    max-width: 20vmin;
    transform-origin: center;
    width: 66%;
    animation: spin 10s linear infinite;
}

@keyframes spin{
    from{
        transform: rotateZ(0);
    }
    to{
        transform: rotateZ(360deg);
    }
}
/*-------------------------------------------------------
#Sections General
---------------------------------------------------------*/
section{
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 100vh;
    bottom: 0;
    background: #ffffff;
    transition: ease-in-out 1s;
    transform-origin: bottom;
    z-index: 1100;
    opacity: 0;
}

section::-webkit-scrollbar{
    display: none;
}

section.section-show{
    padding: 150px 100px 100px;
    top: 0;
    height: auto;
    min-height: 100vh;
    overflow-y: visible;
    opacity: 1;
}

section h1{
    font-family:"Dancing Script", cursive;
    font-weight: 400;
    font-size: 4em;
    letter-spacing: 1px;
    margin-bottom: 150px;
    text-align: center;
}

section h4{
    font-family: "Dancing Script", cursive;
    font-weight: 300;
    font-size: 2.5em;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

section p{
    font-weight: 300;
    color: #111111;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

/*---------------------------------------------------------
# About Section
----------------------------------------------------------*/
.about h4::first-letter{
    color: var(--primary);
    font-size: 2em;
}

.about::before{
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    top: 250px;
    height: 100px;
    width: 2px;
    background: #111111;
}


.about .img-box{
    position: relative;
}

.about .img-box img{
    max-width: 450px;
}

.about .img-box .corner-img{
    position: absolute;
    width: 15vw;
    right: 10px;
    bottom: -50px;
}

.section-bg-img{
    position: absolute;
    width: 25vw;
    right: 20px;
    top: 550px;
    opacity: 0.2;
}

.section-btn{
    position: relative;
    text-decoration: none;
    color: #111111;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    transition: 0.3s;
}

.section-btn:hover{
    color: var(--primary);
}

.section-btn::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: -10px;
    width: 85%;
    height: 1px;
    background: #111111;
    transition: 0.3s;
}

.section-btn:hover::before{
    left: 20%;
    background: var(--primary);
}
/*--------------------------------------------------------
#Services Section 
----------------------------------------------------------*/
.services::before{
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    top: 250px;
    height: 100px;
    width: 2px;
    background: #111111;
}

.card{
    position: absolute;
    margin: 50px ;
    width: 330px;
    height: 350px;
    background: #ffffff;
    border: none;
    transform-style: preserve-3d;
    transition: ease-in-out 1s;
    border-radius: 0;
    box-shadow: inset 300px 0 50px rgba(0,0,0, 0.25);
}

.card:hover{
    transform: perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0,0,0, 0.25);
    z-index: 1000;
}

.card .img-box{
    position: relative;
    border-style: none;
    width: 400px;
    height: 400px;
    transform-origin: left;
    z-index: 1;
    transition: 1s;
}

.card:hover .img-box{
    transform: rotateY(-130deg);
}

.card .img-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 330px;
    height: 400px;
    object-fit: cover;
}

.card .details{
    position: absolute;
    top: 0;
    left: 0;
    height: 200;
    padding: 50px 20px 20px;
}

.card .details::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 330px;
    height: 400px;
    padding: 20px;
    background: url('../images/bg-tree.png')no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.1;
}

.card .details h4::first-letter{
    color: var(--primary);
    font-size: 1.1em;
}

/*--------------------------------------------------------
# Portfolio Section 
----------------------------------------------------------*/
.portfolio h1{
    margin-bottom: 50px;
}

.portfolio #portfolio-filters{
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.portfolio #portfolio-filters li{
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 10px 5px;
    font-size: 0.85em;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    color: #111111;
    transition: 0.3s;
    padding: 8px 20px;
    text-align: center;
}

.portfolio #portfolio-filters li::before{
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    height: 2px;
    width: 50%;
    background: var(--primary);
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    transform-origin: center;
}
.portfolio #portfolio-filters li:hover:before,
.portfolio #portfolio-filters li.filter-active::before{
    opacity: 1;
    visibility: visible;
}

.portfolio .portfolio-item{
    position: relative;
    margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-img{
    overflow: hidden;
}

.portfolio .portfolio-item .portfolio-img img{
    transition: all 0.6s;
}

.portfolio .portfolio-item .portfolio-info{
   position: absolute;
   opacity: 0;
   left: 12px;
   right: 12px;
   bottom: 0;
   z-index: 3;
   transition: all 0.3s;
   background: var(--primary);
   padding: 12px 15px;
}

.portfolio .portfolio-item .portfolio-info h4{
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info p{
    color: #f9fcfe;
    font-size: 15px;
    margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link{
    position: absolute;
    right: 40px;
    font-size: 25px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover{
    color: #111111;
}

.portfolio .portfolio-item .portfolio-info .details-link{
    right: 10px;
}

.portfolio .portfolio-item:hover .portfolio-img img{
   transform: scale(1.15);
}

.portfolio .portfolio-item:hover .portfolio-info{
    opacity: 1;
}
/*--------------------------------------------------------
# Contact
----------------------------------------------------------*/
.contact h1{
    margin-bottom: 50px;
}

.contact .info{
    width: 100%;
    background: #ffffff;
}

.contact .info ion-icon{
    font-size: 0.6em;
    padding: 8px;
    color: var(--primary);
    float: left;
    width: 45px;
    height: 45px;
    background: #f4e3ea;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 50%;
    margin-right: 20px;
}

.contact .info h4{
    padding: 0 0 0 60px;
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 6px;
    color: #111111;
}

.contact .info p{
    padding: 0 0 0 60px;
    font-size: 0.9em;
    font-weight: 300;
    margin-bottom: 0;
    color: #111111;
}

.contact .info .email,
.contact .info .phone{
    margin-top: 40px;
}

.contact form{
    width: 100%;
    background: #ffffff;
}

.contact form .from-group{
    padding-bottom: 8px;
}

.contact form input,
.contact from textarea {
    border-radius: 0;
    box-shadow: none !important;
    outline: none;
    font-size: 15px;
}

.contact form input:focus,
.contact form textarea:focus {
    border-color: var(--primary);
    outline: none;
}

.contact form input {
    height: 45px;
}

.contact form textarea{
    padding: 10px 12px;
}

.contact form button[type='submit']{
    background: var(--primary);
    border: 1px solid var(--primary);
    padding: 10px 25px;
    color: #ffffff;
    transition: 0.3s;
    margin-top: 20px;
}

.contact form button[type='submit']:hover{
    background: #ffffff;
    color: var(--primary);
}
/*--------------------------------------------------------
# Responsive Design  
----------------------------------------------------------*/
@media (max-width:768px){
    header{
        padding: 30px;
    }
    .nav{
        display: none;
    }
    .search{
        display: none;
    }

    .banner{
        padding: 120px 30px;
    }

    .bg-slide .contact{
        width: 80vw;
    }

    .bg-slide .contact h1{
        font-size: 3em;
    }

    .bg-slide .contact p{
        font-size: 0.8em;
    }

    .circle.bg{
        width: 140vh;
        height: 140vh;
    }

    .circle.large{
        width: 70vh;
        height: 70vh;
    }

    .circle.small{
        width: 35vh;
        height: 35vh;
    }

    .bg-slide.active .circle.bg{
        transform: translate(0,0)rotateZ(0);
        opacity: 1;
        visibility: visible;
    }

    .bg-slide.active .circle.large{
        transform: translate(0,0)rotateZ(360deg);
        opacity: 1;
        visibility: visible;
    }

    .bg-slide.active .circle.small{
        transform: translate(0,0)rotateZ(-720deg);
        opacity: 1;
        visibility: visible;
    }

    .load{
        bottom: 100px;
        width: 150px;
        height: 150px;
    }

    .move-down ion-icon{
        font-size: 2em;
    }

    .slide-loader{
        bottom: 20px;
    }
    .share{
        left: 5px;
    }

    section .section-show{
        padding: 15px 30px 100px;
    }

    .about .img-box img{
        max-width: 80vw;
    }

    .about .img-box .corner-img{
        width: 25vw;
        height: -20px;
    }

    .about h4{
        margin-top: 50px;
    }

    .section-bg-img{
        bottom: -500px;
        right: 0px;
    }
}